---
import NFTPreview from "../components/NFTPreview.astro";

const title = "NFT Preview Card Component";
const description = "Just a simple Astro card component to preview an NFT.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon-ethereum.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:description" content={description} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-main-bg font-outfit text-white">
    <main
      class="flex h-fit min-h-screen w-full items-center justify-center p-6"
    >
      <NFTPreview />
    </main>
  </body>
</html>
